.gpt3__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.gpt3__container div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-width: 150px;
    min-width: 120px;
}


