.gpt3__gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-text-fill-color:transparent;
}


.gpt3__header{
    display: flex;
}

.gpt3__hearder-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}


.gpt3__hearder-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
    /* width: 614px;
    height: 225px; */
}

.gpt3__hearder-content p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #81AFDD;
    margin:2rem 0;
    /* margin-top: 1rem; */
    /* width: 554px; */
    
}
.gpt3__header-content-input{
    display: flex;
    margin:1rem 0rem ;
}

.gpt3__header-content-input input{
    background: #052D56;
    border-radius: 5px 0px 0px 5px;
    /* width: 456px;
    height: 60px; */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #3D6184;
    padding-left: 1rem;
    outline: none;
}

.gpt3__header-content-input button{
    background: #FF4820;
    border-radius: 0px 5px 5px 0px;
    padding: 0 1rem;
    /* width: 174px;
    height: 60px; */
}


.gpt3__header-img img{
    max-height: 100%;
    max-width: 100%;
}

.gpt3__header-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header-content-people{
    display: flex;

}
.gpt3__header-content-people img{
    margin-right: 1rem;
    width: 181.79px;
    height: 38px;
    margin-top: 1.8rem;

}


@media screen and (max-width:1050px) {
    .gpt3__header{
        display: flex;
        flex-direction: column;
    }
    .gpt3__hearder-content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
    }
}



@media screen and (max-width:490px) {
    .gpt3__hearder-content h1{
        font-size: 48px;
        line-height: 46px;
        letter-spacing: -0.04em;
    }
    .gpt3__header-content-input{
        margin-left: 2.2rem;
    }
    .gpt3__header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
    .section__padding{
        padding: 4rem 3rem;
    }
    .gpt3__header-content-people p{
        text-align:center ;
    }
    .gpt3__header-content-people {
        margin:1.5rem 0rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gpt3__header-content-people img{
        margin-bottom: 1rem;
    }
    .gpt3__header-content-input input{
        font-size: 12px;
    }
}


@media screen and (max-width:700px){
    .gpt3__header-content-people img{
        height: 38px;
        width: 181.79px;
    }
    .gpt3__header-content-people{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gpt3__header-content-people img{
        margin: 1rem 0;
    }
    .gpt3__hearder-content h1{
        font-size: 48px;
        line-height: 46px;
        letter-spacing: -0.04em;
    }
}